.card {
    width: 70%;
    border: 3px solid black;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.card .description_container {
    display: inline-grid;
    grid-template-columns: 200px auto;
    padding-left: 20px;
}

.card .description_container img {
    width: 200px;
    
}

.card .description_container p {
    margin-top: -1px;
    padding-left: 20px;
    text-align: start;
}

.card .likeBar {
    display:flex;
    justify-content: space-between;
}

.card .activelike {
    color: blue;
    text-decoration: underline;
}

.card .activelike:hover {
    color: violet;
    text-decoration: underline;
}

.ad {
    color: red;
}